---
// Achievements component - displays statistics and achievements
---

<section class="achievements sec sec--padding-large sec--bg-silver">
  <div class="container">
    <div class="achievements__content sec__content">
      <div class="achievements__header">
        <h2 class="achievements__title">
          <span class="achievements__title-text">Helping a local </span>
          <span class="achievements__title-highlight">business reinvent itself</span>
        </h2>
        <p class="achievements__subtitle">We reached here with our hard work and dedication</p>
      </div>
      
      <div class="achievements__stats">
        <div class="achievements__row">
          <div class="achievements__stat">
            <img src="/images/achievements/Achievements-1.svg" alt="Members" class="achievements__icon">
            <div class="achievements__stat-text">
              <div class="achievements__number">2,245,341</div>
              <div class="achievements__label">Members</div>
            </div>
          </div>
          
          <div class="achievements__stat">
            <img src="/images/achievements/Achievements-2.svg" alt="Clubs" class="achievements__icon">
            <div class="achievements__stat-text">
              <div class="achievements__number">46,328</div>
              <div class="achievements__label">Clubs</div>
            </div>
          </div>
        </div>
        
        <div class="achievements__row">
          <div class="achievements__stat">
            <img src="/images/achievements/Achievements-3.svg" alt="Event Bookings" class="achievements__icon">
            <div class="achievements__stat-text">
              <div class="achievements__number">828,867</div>
              <div class="achievements__label">Event Bookings</div>
            </div>
          </div>
          
          <div class="achievements__stat">
            <img src="/images/achievements/Achievements-4.svg" alt="Payments" class="achievements__icon">
            <div class="achievements__stat-text">
              <div class="achievements__number">1,926,436</div>
              <div class="achievements__label">Payments</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
