---
// BlogPreview component - responsive slider showing blog cards
---

<section class="blog-preview sec sec--padding-none">
  <div class="container">
    <div class="blog-preview__header sec__header">
      <h2 class="blog-preview__title sec__title">Caring is the new marketing</h2>
      <p class="blog-preview__subtitle sec__subtitle">The Nexcent blog is the best place to read about the latest membership insights, trends and more. See who's joining the community, read about how our community are increasing their membership income and lot's more.​</p>
    </div>
    
    <div class="blog-preview__content sec__content">
      <div class="swiper blog-preview__swiper js__blog-preview-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="blog-preview__card">
              <img src="/images/community-updates/community-update-1.png" alt="Creating Streamlined Safeguarding Processes with OneRen" class="blog-preview__image">
              <div class="blog-preview__card-content">
                <h3 class="blog-preview__card-title">Creating Streamlined Safeguarding Processes with OneRen</h3>
                <div class="blog-preview__card-link">
                  <span class="blog-preview__link-text">Readmore</span>
                  <img src="/icons/arrow-up-right-from-square-solid-full.svg" alt="Arrow" class="blog-preview__link-icon">
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="blog-preview__card">
              <img src="/images/community-updates/community-update-2.png" alt="What are your safeguarding responsibilities and how can you manage them?" class="blog-preview__image">
              <div class="blog-preview__card-content">
                <h3 class="blog-preview__card-title">What are your safeguarding responsibilities and how can you manage them?</h3>
                <div class="blog-preview__card-link">
                  <span class="blog-preview__link-text">Readmore</span>
                  <img src="/icons/arrow-up-right-from-square-solid-full.svg" alt="Arrow" class="blog-preview__link-icon">
                </div>
              </div>
            </div>
          </div>
          
          <div class="swiper-slide">
            <div class="blog-preview__card">
              <img src="/images/community-updates/community-update-3.png" alt="Revamping the Membership Model with Triathlon Australia" class="blog-preview__image">
              <div class="blog-preview__card-content">
                <h3 class="blog-preview__card-title">Revamping the Membership Model with Triathlon Australia</h3>
                <div class="blog-preview__card-link">
                  <span class="blog-preview__link-text">Readmore</span>
                  <img src="/icons/arrow-up-right-from-square-solid-full.svg" alt="Arrow" class="blog-preview__link-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Navigation arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        
        <!-- Pagination dots -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
