---
// Community component - shows community types with cards
---

<section class="community sec sec--padding-none">
  <div class="container">
    <div class="community__header sec__header">
      <h2 class="community__title sec__title">Manage your entire community in a single system</h2>
      <p class="community__subtitle sec__subtitle">Who is Nextcent suitable for?</p>
    </div>
    
    <div class="community__content sec__content">
      <div class="community__card-list">
        <div class="community__card">
          <div class="community__card-header">
            <img src="/images/community/Membership-Organisations.svg" alt="Membership Organisations" class="community__icon">
            <h3 class="community__card-title">Membership Organisations</h3>
          </div>
          <p class="community__card-description">Our membership management software provides full automation of membership renewals and payments</p>
        </div>
        
        <div class="community__card">
          <div class="community__card-header">
            <img src="/images/community/National-Associations.svg" alt="National Associations" class="community__icon">
            <h3 class="community__card-title">National Associations</h3>
          </div>
          <p class="community__card-description">Our membership management software provides full automation of membership renewals and payments</p>
        </div>
        
        <div class="community__card">
          <div class="community__card-header">
            <img src="/images/community/Clubs-And-Groups.svg" alt="Clubs And Groups" class="community__icon">
            <h3 class="community__card-title">Clubs And Groups</h3>
          </div>
          <p class="community__card-description">Our membership management software provides full automation of membership renewals and payments</p>
        </div>
      </div>
    </div>
  </div>
</section>
